/* nav.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px; /* Add padding to accommodate fixed navbar */
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav-icon img {
    width: 42px;
    padding-left: 80px;
}

.menuitem {
    display: flex;
    gap: 40px;
    margin-left: 120px;
}

.menuitem a {
    text-decoration: none;
    color: black;
}

.menu .nav-search img {
    width: 30px;
    padding-top: 13px;
}

.menuitem a:hover {
    color: #fa243c;
}

.login_signin button {
    width: 80px;
    height: 35px;
    border-radius: 890px;
    border-style: none;
    background-color: #fa243c;
    border: #fa243c;
    color: white;
    margin-right: 10px;
}

.login_signin button:hover {
    box-shadow: 0 0 5px #fa243c;
}

.below-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.below-nav h4 {
    font-size: 17px;
    transform: translateX(-120px);
}

.below-nav button {
    width: 150px;
    height: 28px;
    margin-right: -20px;
    background-color: #fa243c;
    border: none;
    color: white;
    border-radius: 890px;
}
