/* login.css */

.container {
    max-width: 270px;
    margin: 0 auto;
    padding: 20px;
    margin-top:-25px;
   
  }
  .container p{
    display:flex;
    margin-bottom:35px;
    justify-content: center;

  }
  .heading{
    font-size:19px;
    margin-top: 150px;
  }
  
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-tiggle {
    position: absolute;
    height: 10px;
    margin-top: 25px;
    width: 20px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size:20px;
  }
  
  .glow-on-hover {
    transition: all 0.3s ease-in-out;
  }
  
  .glow-on-hover:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
  
  .register-link a {
    color: #fa243c;
    text-decoration: none;
  }
  
  .register-link a:hover {
    color: #fa243c;
   
  }
  
  .login-main{
    margin-top:75px;
    font-size:35px;

  }
  .button1{
    margin-top:10px;
    padding:5px;
    background-color: #fa243c;
    color:white;
    border: 1px solid #fa243c;
    border-radius: 4px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
}
.button1:hover {
    background-color: #fff;
    color: #fa243c;
    padding: 8px; /* Adjust as needed */
}
.register-link {
    text-align: center;
    margin-top: 20px;
    color: #555;
    transition: color 0.5s, font-size 0.3s;
}

.register-link a {
    color: #fa243c;
    
    text-decoration: none;
}

.register-link a:hover {
    color: #df0707;
    font-size: 18px; /* Slight increase in font size on hover */
}
